:root {
    --background-color: #121212;
    --container-background: #1e1e1e;
    --header-color: #fff;
    --list-item-background: #2a2a2a;
    --list-item-hover-background: #3a3a3a;
    --input-background: #333;
    --button-background: #0071f1;
    --button-hover-background: #005bb5;
    --scrollbar-thumb: #0071f1;
    --scrollbar-thumb-hover: #005bb5;
    --border-color: #444;
    --text-color: #ffffff;
    --modal-background: #2e2e2e;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: var(--container-background);
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-family: 'Georgia', serif;
    color: var(--header-color);
    cursor: pointer;
}

#artContainer {
    column-count: 3;
    column-gap: 15px;
    padding: 20px;
}

.art-item {
    position: relative;
    cursor: pointer;
    margin-bottom: 15px; /* Добавляем отступ между изображениями */
}

.art-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s; /* Уменьшаем скорость увеличения */
}

.art-item:hover img {
    transform: scale(1.03); /* Уменьшаем увеличение при наведении */
}

.art-item:hover::after {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Прозрачный фон с эффектом блюра */
    backdrop-filter: blur(5px); /* Эффект блюра */
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user_container {
    background: var(--container-background);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
}

footer {
    background-color: var(--container-background);
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: var(--modal-background);
    margin: 15% auto;
    padding: 20px;
    border-radius: 15px;
    width: 40%; /* Уменьшаем ширину модального окна */
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.modal-content img {
    max-width: 100%;
    border-radius: 10px;
    margin-right: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.art-item:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .header h1 {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    #artContainer {
        column-count: 2;
    }
}

@media (max-width: 480px) {
    #artContainer {
        column-count: 1;
    }
}
